---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import FullListingItem from "../../components/FullListingItem.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import PageFind from "../../components/PageFind.astro";

const posts = await getCollection("writeup");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

        <!-- Pagefind -->
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
        <script src="/pagefind/pagefind-ui.js" is:inline></script>
    </head>
    <body>
        <Header />
        <main class="container pt-8 md:pt-16">
            <PageFind />
            <h1 class="w-full">
                All blog <span class="text-lime-400">posts</span>
            </h1>
            <p class="mt-6">Testing</p>

            <section class="grid grid-cols-2 gap-4">
                {
                    posts.map((entry) => (
                        <FullListingItem
                            title={entry.data.title}
                            image={entry.data.heroImage}
                            pubDate={entry.data.pubDate}
                            description={entry.data.description}
                            slug=`/blog/writeups/${entry.slug}`
                            alt=""
                        />
                    ))
                }
            </section>
        </main>
        <Footer />
    </body>
</html>
