---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
const { title, pubDate, slug } = Astro.props;

// Write a function that splits out the category from the slug
// the category comes after `/blog`
const getCategory = (slug: string) => {
    const parts = slug.split("/");
    const category = parts[2];
    return category.charAt(0) + category.slice(1);
};
---

<div class="group">
    <div class="flex flex-row items-center space-x-4 mb-2">
        <div class="border border-lime-400">
            <a
                href=`/tags/${getCategory(slug)}`
                class="description no-animation hover:text-lime-400 transition-colors duration-150 py-0.5 px-2 text-neutral-200"
                >{getCategory(slug)}</a
            >
        </div>

        <div id="date" class="text-zinc-400">
            <FormattedDate date={pubDate} />
        </div>
    </div>
    <li class="text-lg text-neutral-200 font-semibold list-none">
        <a href={slug}>{title}</a>
    </li>
</div>
