---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
const { title, description, pubDate, topics, heroImage, slug } = Astro.props;
---

<div
    class="border border-neutral-200 rounded-xl p-4 bg-gradient-to-r from-zinc-700/15 to-zinc-800/40 cursor-pointer hover:shadow-lg hover:shadow-lime-500 transition-all duration-250 ease-in-out"
>
    <a href={slug} class="text-neutral-200" id="post-card">
        <p class="font-thin pb-2 text-sm">
            <FormattedDate date={pubDate} />
        </p>
        <Image
            class="rounded-xl pb-2"
            src={heroImage}
            alt={title}
            width={1080}
            height={1080}
            loading={"eager"}
        />
        <h6 class="text-sm pb-2">{title}</h6>
        <p class="font-thin text-sm">{description}</p>
        <div id="tags-row" class="flex flex-wrap pt-2 gap-y-2">
            {
                topics.map((topic: string) => (
                    <span class="py-2 px-2 text-xs bg-zinc-600 rounded-3xl mr-2 block">
                        {topic}
                    </span>
                ))
            }
        </div>
    </a>
</div>
